/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 3, 2023, 8:41:05 AM
    Author     : kirkb
*/
:root {
    --darkblue: #212A3E;
    --blue: #2D4C89;
    --lightblue: #8C9DBE;
    --darkgray: #D9D9D9;
    --gray: #ECEDEE;
    --lightgray: #FCFCFC;
    
    --ExerciseHeight: 200px;
}

@media(max-width: 600px) {
        :root{
            --ExerciseWidth: 80vw;
        }
    }
@media(min-width: 601px){
        :root{   
            --ExerciseWidth: 40vw;
        }
    }

#myHeader #myFooter {
    background-color: var(--darkgray);
}

body {
    background-color: var(--darkblue);
}

div.exercise {
    background-color: black;
    height: var(--ExerciseHeight);
    width: var(--ExerciseWidth);
    border-radius: 28px;
}